#hpp_talk
script.
  (()=>{
    const init = () => {
      new hpp_talk(Object.assign({
        id: "hpp_talk",
        domain: '#{domain}',
        limit: !{limit},
        start: !{start},
      }, !{option}))
    }

    const addCss = () => {
      const link = document.createElement('link')
      link.rel = 'stylesheet'
      link.href = '!{css}'
      document.head.appendChild(link)
    }

    if (typeof hpp_talk === 'function') {
      init()
    } else {
      addCss()
      getScript('!{js}').then(init)
    }
  })()